<div class="page-header">
  <h2 translate>Edit Employee</h2>    
</div>
<div class="page-content">
  <div class="row form-group">
    <div class="col-lg-12">
      <ngb-tabset class="tabset1" #tabs>
        <ngb-tab tabindex="0">
            <ng-template ngbTabTitle><span class="title1">Employee Details</span></ng-template>
            <ng-template ngbTabContent>
                <create-user [receiveEmployeeId]="receivingEmployeeId"></create-user>
            </ng-template>
        </ngb-tab>
        <ngb-tab tabindex="1" [disabled]="isDocumentsTabDisabled">
            <ng-template ngbTabTitle><span class="title1">Employee Documents</span></ng-template>
            <ng-template ngbTabContent>
              <user-docs [receiveEmployeeId]="receivingEmployeeId"></user-docs>
            </ng-template>
        </ngb-tab>
		<ngb-tab tabindex="1" [disabled]="isProfilepicTabDisabled">
            <ng-template ngbTabTitle><span class="title1">Upload Profile Picture</span></ng-template>
            <ng-template ngbTabContent>
              <upload-profile-pic [receiveEmployeeId]="receivingEmployeeId"></upload-profile-pic>
            </ng-template>
        </ngb-tab>
      </ngb-tabset>      
    </div>
  </div>
</div>