
<div class="main-content">
                <div class="section__content section__content--p15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
								<div class="overview-wrap">
                                    <h2 class="title-1">Work Management</h2>
									
							   </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-lg-12 search-container">
									<form novalidate [formGroup]="materialRequestSearchForm" (ngSubmit)="onWorkDetailsSearched();">
										<div class="row">
											<div class="col-lg-2">
												<div class="search-label-container"><label>Search</label></div>
												<input formControlName="searchKeyWord" class="form-control" placeholder="Search Work"/>  
											</div> 
											<div class="col-lg-2">
											<div class="search-label-container"><label>Type</label></div>
											<select class="form-control" formControlName="workTypeId">
												<option value="0" [selected] ="true">All</option>  
												<option *ngFor="let work of workTypeList" [ngValue]="work.workTypeId">{{work.workType}}</option>
											</select> 
											</div>
											<div class="col-lg-2">
												<div class="search-label-container"><label>Start Date</label></div>
												<input formControlName="dateFrom" class="form-control"  type="date"/>  
											</div>
											<div class="col-lg-2">
												<div class="search-label-container"><label>End Date</label></div>
												<input formControlName="dateTo" class="form-control" type="date" />  
											</div>
											 
											<div class="col-lg-4 pt-4">                    
												<span class="float-left">
													<button class="btn btn-info" type="submit">Search</button>  
													<button class="btn btn-danger" type="reset">Clear</button>
<!-- 													<button (click)="openCreateForm()" class="btn btn-info" style="background:#C70039;">Create {{itemName}}</button>  
 -->
												</span>
											</div> 
										</div>
									</form> 
							</div>
							</div>
							<div class="row m-t-25">
							<div class="col-sm-6 col-lg-3 tip" *ngFor="let item of presentWorkList;index as i;">

                                <a class="link" [routerLink]="['/work-view/']" [queryParams]="{id:item.workDetailsId}" class="tip">

								<div class="overview-item overview-item--c1 boxx{{(i+1)%9}}" >
                                    <div class="overview__inner">
                                         <div class="overview-box clearfix">
										   <div class="text">
                                            <span class="btn-icon btn-icon-round btn-icon-lg-alt">
												<h1><span class="fa fa-puzzle-piece"></span></h1>
											</span>
                                            <div class="box-info float-right">
												<span class="float-right">{{item.workName}}</span>
											</div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
										</div>
                                    </div>
                                </div>
<p>
Tag:  {{item.workName}}<br>
Description:  {{item.description}}<br>
Client:  <br>
Started On:  {{item.startDate  | date :  "dd-MM-yyyy"}}<br>
Co Ordinator:  {{item.projectCoOrdinatorName}}</p>
								</a>
                            </div>
                    </div>
                </div>
            </div> 
</div>