@import "src/theme/theme-variables";

.page-header {
  z-index: 100;
  width: 100%;
  height:52px;
  position: fixed;
  background-color: $pageHeader;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

  .logo{
    height:auto;
    width:300px;
  }
}
.navbar {
  // margin-bottom: $spacer;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-nav span {
  display: inherit;
}
.nav-item:hover{
  cursor: pointer;
}

#user-dropdown i,
#user-dropdown i::after{
  color: #fff;
}
.dropdown-toggle::after{
  color: #fff;
}