<nav class="navbar-primary" #sideMenu>
<!-- <a href="#" class="btn-expand-collapse" (click)="menuButtonClicked();"><span class="glyphicon glyphicon-menu-left"></span></a> -->
<ul class="navbar-primary-menu">
    <li>
        <div class="menu-label">MENU</div>
    </li>
    <li>
        <span>
             <a *ngIf="isAdmin || isHod" class="menu-link" routerLink="/home" routerLinkActive="active">
                <span class="fas fa-tachometer-alt"></span><br/><span class="nav-label">Dashboard</span>
            </a>
            <a *ngIf="isAdmin" class="menu-link" routerLink="/department" routerLinkActive="active">
                <span class="fas fa-university"></span><br/><span class="nav-label">Department</span>
            </a>
            <a *ngIf="isAdmin || isHod" class="menu-link" routerLink="/employees" routerLinkActive="active">
                <span class="fas fa-users"></span><br/><span class="nav-label">Employees</span>
            </a>
            <a class="menu-link" routerLink="/project" routerLinkActive="active">
                <span class="fas fa-folder-open"></span><br/><span class="nav-label">Projects</span>
            </a>
            <!-- <a class="menu-link" routerLink="/call-management" routerLinkActive="active">
                <span class="fas fa-phone-volume"></span><br/><span class="nav-label">Call Management</span>
            </a>
            <a class="menu-link" routerLink="/work-details" routerLinkActive="active">
                <span class="fas fa-briefcase"></span><br/><span class="nav-label">Work Details</span>
            </a>
            <a class="menu-link" routerLink="/service-report" routerLinkActive="active">
                <span class="fas fa-hand-holding-usd"></span><br/><span class="nav-label">Service Report</span>
            </a> -->
            <!-- <a class="menu-link" routerLink="/attendance" routerLinkActive="active"><span class="fas fa-edit"></span><span class="nav-label pl-2"> Attendance</span></a>
            <a class="menu-link" routerLink="/notification" routerLinkActive="active"><span class="far fa-bell"></span><span class="nav-label pl-2"> Notification</span></a> -->
            <a *ngIf="isAdmin" class="menu-link" routerLink="/setting" routerLinkActive="active">
                <span class="fas fa-cogs"></span><br/>
                <span class="nav-label pl-2">Settings</span>
            </a>
        </span>
        <!-- <span *ngIf="!isAdminUser">
            <a class="menu-link" routerLink="/employee" routerLinkActive="active">
                <span class="fas fa-user"></span><span class="nav-label pl-2">My View</span>
            </a>
        </span> -->
    </li>
</ul>
</nav>
