<nav class="navbar-primary" [ngClass]="{'minimized': !nav.visible}">
<ul class="navbar-primary-menu">
    <li>
			<a class="menu-link" (click)=menuButtonClicked() routerLink="/home" routerLinkActive="active">
                <span class="fas fa-tachometer-alt"></span><span class="nav-label">Dashboard</span>
            </a> 
	</li>
	<li>
			<span *ngIf="prv_departmentView == 'true'">
			<a class="menu-link" (click)=menuButtonClicked() routerLink="/department" routerLinkActive="active">
                <span class="fas fa-university"></span><span class="nav-label">Department</span>
            </a>
            </span>
	</li>
	<li>
			<span *ngIf="prv_employeeView == 'true'">
			<a class="menu-link" (click)=menuButtonClicked() routerLink="/employees" routerLinkActive="active">
                <span class="fas fa-users"></span><span class="nav-label">Employees</span>
            </a>
            </span>
	</li>
	<!-- <li>
			<span *ngIf="!isAdminUser">
			<a class="menu-link" (click)=menuButtonClicked() routerLink="/inter-office-communication" routerLinkActive="active">
                <span class="fas fa-envelope"></span><span class="nav-label">Inter Office Communication</span>
            </a>
            </span>
	</li> -->
	<li>
			<span *ngIf="prv_workView == 'true'">
			<a class="menu-link" (click)=menuButtonClicked() routerLink="/work-home" routerLinkActive="active">
                <span class="fa fa-cogs"></span><span class="nav-label">Work</span>
            </a>
            </span>
	</li>
	<li>
			<a class="menu-link" (click)=menuButtonClicked() routerLink="/general-info/work-status" routerLinkActive="active">
                <span class="fas fa-info-circle"></span><span class="nav-label">General Info</span>
            </a>
	</li>
	<li>
            <a><span class="fas fa-envelope"></span><span class="nav-label pl-2"> Inter Office Communication <i class="fas icon-margin" [ngClass]="{'fa-plus-circle': !isShowInbox,'fa-minus-circle': isShowInbox }" (click)="openInbox();"></i></span></a>
			<span *ngIf="isShowInbox">
			<a class="menu-link" routerLink="/inbox" routerLinkActive="active"><span class="fas fa-info-circle ml-5"></span><span class="nav-label pl-2"> Inbox</span></a>
		    </span>
			<span *ngIf="isShowSent">
			<a class="menu-link" routerLink="/sent" routerLinkActive="active"><span class="fas fa-info-circle ml-5"></span><span class="nav-label pl-2"> Sent</span></a>
		    </span>
	</li>
	<li>
			<span *ngIf="prv_deputationView == 'true'">
            <a><span class="fas fa-users"></span><span class="nav-label pl-2"> HR <i class="fas icon-margin" [ngClass]="{'fa-plus-circle': !isShowHr,'fa-minus-circle': isShowHr }" (click)="openHr();"></i></span></a>
			<span *ngIf="isShowHr">
			<a class="menu-link" routerLink="/deputation" routerLinkActive="active"><span class="fas fa-info-circle ml-5"></span><span class="nav-label pl-2"> Deputation</span></a>
		    </span>
			</span>
	</li>
	<li>
			<span *ngIf="isAdminUser">
			<a><span class="fas fa-user-cog"></span><span class="nav-label pl-2"> ADMIN<i class="fas icon-margin" [ngClass]="{'fa-plus-circle': !isShowAdmin,'fa-minus-circle': isShowAdmin }" (click)="openAdmin();"></i></span></a>
			<span *ngIf="isShowAdmin">
			<a class="menu-link" routerLink="/privileges" routerLinkActive="active"><span class="fas fa-info-circle ml-5"></span><span class="nav-label pl-2"> Privileges</span></a>
            </span>
			</span>
    </li>
</ul>
</nav>