<div class="page-header-container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
			   <h4>
                    <span>Change Password</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
			<form novalidate [formGroup]="passwordChangeForm" (ngSubmit)="onChangepasswordDetailsSubmitted();">
                <div class="row form-group">
                  <div class="col-lg-4 ml-5 mt-3">
                    <label>Enter Existing Password</label>
<!--                     <input type="hidden" formControlName="departmentId" />
 -->                    <input type="password" formControlName="existPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': isChangepasswordFormAttemptSubmit && changepasswordForm.existPassword?.errors }"/>
                    <div *ngIf="isChangepasswordFormAttemptSubmit && changepasswordForm.existPassword?.errors" class="invalid-feedback">
                        <div *ngIf="changepasswordForm.existPassword?.errors.required" style="font-size:14px;">Please Enter Existing Password</div>
                    </div>
                  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-4 ml-5 mt-3">
                    <label>Enter New Password</label>
<!--                     <input type="hidden" formControlName="departmentId" />
 -->                    <input type="password" formControlName="newPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': isChangepasswordFormAttemptSubmit && changepasswordForm.newPassword?.errors }"/>
                    <div *ngIf="isChangepasswordFormAttemptSubmit && changepasswordForm.newPassword?.errors" class="invalid-feedback">
                        <div *ngIf="changepasswordForm.newPassword?.errors.required" style="font-size:14px;">Please Enter New Password</div>
                    </div>
                  </div>
                </div>
				<div class="row form-group">
				<div class="col-lg-4 ml-5">
                    <label>Re-enter New Password</label>
                    <input  type="password" formControlName="reNewPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': isChangepasswordFormAttemptSubmit && changepasswordForm.reNewPassword?.errors }"/>
                    <div *ngIf="isChangepasswordFormAttemptSubmit && changepasswordForm.reNewPassword?.errors" class="invalid-feedback">
                        <div *ngIf="changepasswordForm.reNewPassword?.errors.required" style="font-size:14px;">Please Re-enter New Password</div>
						<div *ngIf="!(changepasswordForm.reNewPassword?.errors.required) && changepasswordForm.reNewPassword.invalid" style="font-size:14px;">New Password and Re entered Password should be same</div>
					</div>
                  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-4 ml-5 mt-1">
				  <button class="btn btn-info" type="submit">Submit</button>
                  <button class="btn btn-danger" type="reset">Reset</button>
				</div>
                </div>
		  </form>
		</div>  
    </div>
</div>

