<div class="page-header-container" style="padding-bottom:0px">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>
                        GENERAL INFO
                    </span>                
                </h4>    
            </div>
        </div>
    </div>
    <div class="row">
        <nav id="nav">
            <ul class="navigation">
				<li>
				<a href="/#/general-info/work-status" routerLinkActive="active">Work Status</a>
                </li>
                <li><a class="menu-link" href="/#/general-info/work-type" >Work Type &raquo;</a>
                </li>
				<li><a class="menu-link" href="/#/general-info/work-document" >Document Category &raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
