<div class="page-header-container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>Manage {{itemName}}</span>                
                </h4>    
            </div>
        </div>
    </div>
	</div>
	<div class="page-body-container">
    <div class="row">
        <div class="col-lg-12">
                <form novalidate [formGroup]="addPrivilegeForm" (ngSubmit)="addPrivilege();">
                    <input formControlName="authorizationId"  type="hidden"/>  
                    <input formControlName="userRoleId"   type="hidden"/>  
					<ul class="priv_list">
		                <li><input type="checkbox" formControlName="employeeView" ><b>Employee View</b></li>
						<li><input type="checkbox" formControlName="employeeEdit" ><b>Employee Edit</b></li>
						<li><input type="checkbox" formControlName="employeeDelete" ><b>Employee Delete</b></li>
						<li><input type="checkbox" formControlName="departmentView" ><b>Department View</b></li>
						<li><input type="checkbox" formControlName="departmentEdit" ><b>Department Edit</b></li>
						<li><input type="checkbox" formControlName="departmentDelete"  ><b>Department Delete</b></li>
						<li><input type="checkbox" formControlName="workView" ><b>Work View</b></li>
						<li><input type="checkbox" formControlName="workEdit" ><b>Work Edit</b></li>
						<li><input type="checkbox" formControlName="workDelete" ><b>Work Delete</b></li>
						<li><input type="checkbox" formControlName="subTaskView" ><b>Sub Task View</b></li>
						<li><input type="checkbox" formControlName="subTaskEdit" ><b>Sub Task Edit</b></li>
						<li><input type="checkbox" formControlName="subTaskDelete" ><b>Sub Task Delete</b></li>
						<li><input type="checkbox" formControlName="doucmentView"><b>Document View</b></li>
						<li><input type="checkbox" formControlName="documentEdit" ><b>Document Edit</b></li>
						<li><input type="checkbox" formControlName="documentDelete"><b>Document Delete</b></li>
						<li><input type="checkbox" formControlName="deputationView" ><b>Deputation View</b></li>
						<li><input type="checkbox" formControlName="deputationEdit" ><b>Deputation Edit</b></li>
						<li><input type="checkbox" formControlName="deputationDelete"><b>Deputation Delete</b></li>
					</ul>
					<div class="col-lg-12 form-group" style="margin-top: 20px;">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
				</form>	
            </div>
        </div>
    </div>

