<div class="main-content">
                <div class="section__content section__content--p15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Work Dashboard</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <a class="link" [routerLink]="['/work-details/']">
								<div class="overview-item overview-item--c1" style="background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);">
                                    <div class="overview__inner">
                                         <div class="overview-box clearfix">
										   <div class="text">
                                            <span class="btn-icon btn-icon-round btn-icon-lg-alt">
												<h1><span class="fa fa-puzzle-piece"></span></h1>
											</span>
                                            <div class="box-info float-right">
												<p><span class="float-right">Manage Work</span></p>
											</div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
										</div>
                                    </div>
                                </div>
								</a>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <a class="link" [routerLink]="['/work-view/']">
								<div class="overview-item overview-item--c2" style="background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);">
                                    <div class="overview__inner">
                                         <div class="overview-box clearfix">
										   <div class="text">
                                            <span class="btn-icon btn-icon-round btn-icon-lg-alt">
												<h1><span class="fa fa-eye"></span></h1>
											</span>
                                            <div class="box-info float-right">
												<p><span class="float-right">View Work</span></p>
											</div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
										</div>
                                    </div>
                                </div>
								</a>
                            </div>
							<div class="col-sm-6 col-lg-3">
                                <a class="link" [routerLink]="['/#/']">
								<div class="overview-item overview-item--c2" style="background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);">
                                    <div class="overview__inner">
                                         <div class="overview-box clearfix">
										   <div class="text">
                                            <span class="btn-icon btn-icon-round btn-icon-lg-alt">
												<h1><span class="fa fa-envelope"></span></h1>
											</span>
                                            <div class="box-info float-right">
												<p><span class="float-right">Inter Office Communication </span></p>
											</div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
										</div>
                                    </div>
                                </div>
								</a>
                            </div>
							<div class="col-sm-6 col-lg-3">
                                <a class="link" [routerLink]="['/work-issued/']">
								<div class="overview-item overview-item--c2" style="background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);">
                                    <div class="overview__inner">
                                         <div class="overview-box clearfix">
										   <div class="text">
                                            <span class="btn-icon btn-icon-round btn-icon-lg-alt">
												<h1><span class="fas fa-project-diagram"></span></h1>
											</span>
                                            <div class="box-info float-right">
												<p><span class="float-right">Work Issued Details</span></p>
											</div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
										</div>
                                    </div>
                                </div>
								</a>
                            </div>
                        
                    </div>
                </div>
            </div>