<div class="page-header-container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>INTER OFFICE COMMUNICATION</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-12 search-container">
                <div class="row">
                    <div class="col-lg-12 pt-4">                    
                        <span class="float-right">
                        	<button class="btn btn-info" style="background:#C70039;" (click)="openCreateForm()" >Create {{itemName}}</button>  
						</span>
                    </div> 
                </div>
		</div>
</div>
<div class="page-body-container">
  <div class="row">
      <div class="col-lg-12">
           <div class="table100">
		   <table [mfData]="communicationList" #mf="mfDataTable" [mfRowsOnPage]="50">
                <thead>
                <tr class="table100-head">
                    <th class="column1">
                        <mfDefaultSorter by="empCode">Emp.Code</mfDefaultSorter>
                    </th>    
                    <th class="column2">
						<mfDefaultSorter by="employeeName">Employee Name</mfDefaultSorter>
                    </th>    
                    <th class="column3">
						<mfDefaultSorter by="departmentName">Ref.No.</mfDefaultSorter>
                    </th>
					<th class="column3">
						<mfDefaultSorter by="departmentName">Department Name</mfDefaultSorter>
                    </th>    
                    <th class="column4">
						<mfDefaultSorter by="workName">Work Name</mfDefaultSorter>
                    </th>    
                    <th class="column6">
						<mfDefaultSorter by="subject">Subject</mfDefaultSorter>
                    </th>    
                    <th class="column7">
						<mfDefaultSorter by="View">View / Reply</mfDefaultSorter>
                    </th>    
                </tr>
                </thead>
                <tbody *ngFor="let item of mf.data">
                    <tr class="hover-action-row">
                    <td class="column1">{{item.empCode}}</td>
                    <td class="column1">{{item.employeeName}}</td>
                    <td class="column1">{{item.referenceNo}}</td>
                    <td class="column1">{{item.departmentName}}</td>
                    <td class="column1">{{item.workName}}</td>
                    <td class="column1">{{item.subject}}</td>
<!--                     <td class="column1">{{item.createdOn  | date :  "dd-MM-yyyy"}}</td>
 -->                       <td class="column1">
								<div class="link-holder">
								 <a class="link" title="View Details" (click)="viewDetails(item.officeCommunicationId);"><i class="fas fa-eye"></i></a>
								 <button (click)="replyMessage(item);" class="btn btn-success" style="margin-left:5px;">Reply</button>  
								</div>
						    </td>
                </tr>
                
				
				
				</tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[12]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
		</div>
      </div>
  </div>
</div>
<!-- Create/Update Inter Office Communication Form [BEGIN]-->
<div class="modal" [ngClass]="{ 'd-block' : isFormVisible}" id="createUpdateModal" *ngIf="isFormVisible">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{isEdit ? ('Update ' +itemName)  : ('Create ' +itemName)}}</h5>
                <button class="close" type="button" data-dismiss="modal" appModal  (click)="closePopup();">&times;</button>
            </div>
            <div class="modal-body">
            <form novalidate [formGroup]="interCommForm" (ngSubmit)="onAddItem();">
			<div class="row">
				<div class="col-lg-12">
					<div><label>Work List :</label></div>
						<select class="form-control" formControlName="workDetailsId" (change)="getDepartmentList($event);">
							<option value="" selected>Choose Work</option>
							<option *ngFor="let work of workDetailsList" [value]="work.workDetailsId">{{work.workName}}</option>
						</select> 						
					<div *ngIf="isFormSubmitInitiated && interCommForms.workDetailsId.errors" style="color:red;">Please choose Work</div>
				</div>
				<div class="col-lg-12" *ngIf="isDescription">
					<div><strong>Work Description :</strong></div>
					<div><label>{{workDescList.description}}</label></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div><label>Sub Task :</label></div>
						<select class="form-control" formControlName="subTaskId">
                        <option value="" selected>Choose Sub Task</option>
						<option *ngFor="let subtask of subtaskList" [value]="subtask.subTaskId">{{subtask.subTaskName}}</option>
                        </select> 						
						<div *ngIf="isFormSubmitInitiated && interCommForms.subTaskId.errors" style="color:red;">Please Choose Sub Task</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div><label>Department (To)  :</label></div>
						<select class="form-control" formControlName="departmentId">
                        <option value="" selected>Choose Department</option>
						<option *ngFor="let department of departmentList" [value]="department.departmentId">{{department.departmentName}}</option>
                         </select> 						
						 <div *ngIf="isFormSubmitInitiated && interCommForms.departmentId.errors" style="color:red;">Please choose Department</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
                        <div><label>Subject : </label></div>
					    <input  type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': isFormSubmitInitiated && interCommForms.subject.errors }">
						<div *ngIf="isFormSubmitInitiated && interCommForms.subject.errors" style="color:red;">Please enter Subject</div>
                </div>
			</div>
			<div class="row">
				<div class="col-lg-12">
                        <div><label>Description : </label></div>
                        <textarea class="form-control mandatory-field" formControlName="description"  maxlength="400"
                        [ngClass]="{ 'is-invalid': isFormSubmitInitiated && interCommForms.description.errors }"></textarea>
                        <div *ngIf="isFormSubmitInitiated && interCommForms.description.errors" style="color:red;">Please enter Description.</div>
                </div>
			</div>	
			<div class="row">
				<div class="col-lg-12 mt-2">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-danger" *ngIf=" ! isEdit" (click)="resetForm()"  type="reset">Clear</button>     
            </div>
            </div>
            </form>
			</div>
        </div>
    </div>
</div>
<!-- Create/Update Form [END]-->

<!-- Communication details Modal Form -->
  <div class="modal salary-info-model" id="descriptionModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View Details</h5>
            <button class="close" type="button" data-dismiss="modal" appModal  (click)="closeDescriptionModal();">&times;</button>
          </div>
           <form novalidate [formGroup]="viewForm">
			<div class="modal-body">
			    <div class="row form-group">
                  <div class="col-lg-12">
					Employee Name : <b>{{communicationList2['employeeName']}} </b>                
				  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-12">
					Department Name (To): <b>{{communicationList2.departmentName}} </b>                
				  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-12">
					Work Name : <b>{{communicationList2.workName}}  </b>               
				  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-12">
					Sub Task Name : <b>{{communicationList2.subTaskName}} </b>                
				  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-12">
					Subject : <b>{{communicationList2.subject}} </b>                
				  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-12">
					Description : <b>{{communicationList2.description}}</b>                 
				  </div>
                </div>
				<div class="row form-group">
                  <div class="col-lg-12">
					Created On : <b>{{communicationList2.createdOn   | date :  "dd-MM-yyyy"}}</b>                 
				  </div>
                </div>
            </div>
			</form>
			<div class="modal-footer">
              <button class="btn btn-danger" type="button" data-dismiss="modal" appModal (click)="closeDescriptionModal();">Close</button>
            </div>
        </div>
      </div>
    </div>
<!-- Communication details Modal Form End-->
<!-- Reply Modal Form -->
  <div class="modal salary-info-model" id="replyModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Reply</h5>
            <button class="close" type="button" data-dismiss="modal" appModal  (click)="closeReplyModal();">&times;</button>
          </div>
           <form novalidate [formGroup]="replyForm" (ngSubmit)="submitReply();">
			<div class="modal-body">
			<div class="row">
				<div class="col-lg-12">
					<div><label>Main Task :</label></div>
					<input type="hidden" formControlName="workDetailsId" >
					<input class="form-control" formControlName="workName" readonly>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div><label>Sub Task :</label></div>
					<input  type="hidden"  formControlName="departmentId">
					<input  type="hidden" formControlName="subTaskId">
					<input  class="form-control" formControlName="subTaskName" readonly>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div><label>To :</label></div>
					<input  class="form-control" formControlName="departmentName" readonly>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
                        <div><label>Subject : </label></div>
					    <input  type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': isreplyFormSubmitInitiated && replyForms.subject.errors }">
						<div *ngIf="isreplyFormSubmitInitiated && replyForms.subject.errors" style="color:red;">Please enter Subject</div>
                </div>
			</div>
			<div class="row">
				<div class="col-lg-12">
                        <div><label>Message : </label></div>
                        <textarea class="form-control mandatory-field" formControlName="description"  maxlength="400"
                        [ngClass]="{ 'is-invalid': isreplyFormSubmitInitiated && replyForms.description.errors }"></textarea>
                        <div *ngIf="isreplyFormSubmitInitiated && replyForms.description.errors" style="color:red;">Please enter Message</div>
                </div>
			</div>
			
			
            
            </div>
			<div class="modal-footer">
              <button class="btn btn-primary" type="submit">Save</button>
			  <button class="btn btn-danger" type="button" data-dismiss="modal" appModal (click)="closeReplyModal();">Close</button>
            </div>
			</form>
  

		   
		   
        </div>
      </div>
    </div>
<!-- Reply Modal Form End-->


