<div class="page-header-container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>INTER OFFICE COMMUNICATION</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 search-container">
            <form novalidate [formGroup]="interCommForm" (ngSubmit)="onAddItem();">
			<div class="row">
				<div class="col-lg-3">
					<div><label>Work List :</label></div>
						<select class="form-control" formControlName="workDetailsId" (change)="getDepartmentList($event);">
							<option value="" selected>Choose Work</option>
							<option *ngFor="let work of workDetailsList" [value]="work.workDetailsId">{{work.workName}}</option>
						</select> 						
					<div *ngIf="isFormSubmitInitiated && interCommForms.workDetailsId.errors" style="color:red;">Please choose Work</div>
				</div>
				<div class="col-lg-3" *ngIf="isDescription">
					<div><strong>Work Description :</strong></div>
					<div><label>{{workDescList.description}}</label></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div><label>Department List :</label></div>
						<select class="form-control" formControlName="departmentId"  (change)="communicationList($event);">
                        <option value="" selected>Choose Department</option>
						<option *ngFor="let department of departmentList" [value]="department.departmentId">{{department.departmentName}}</option>
                         </select> 						
						 <div *ngIf="isFormSubmitInitiated && interCommForms.departmentId.errors" style="color:red;">Please choose Department</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-lg-3">
					<div><label>Communication List :</label></div>
						<select class="form-control" formControlName="officeCommunicationId">
                        <option value="" selected>Choose Communication List</option>
						<option *ngFor="let communication of communicationList" [value]="communication.officeCommunicationId">{{communication.departmentName}}</option>
                         </select> 						
						 <div *ngIf="isFormSubmitInitiated && interCommForms.officeCommunicationId.errors" style="color:red;">Please choose Communication List</div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-lg-3">
                        <div><label>Description : </label></div>
                        <textarea class="form-control mandatory-field" formControlName="description"  maxlength="400"
                        [ngClass]="{ 'is-invalid': isFormSubmitInitiated && interCommForms.description.errors }"></textarea>
                        <div *ngIf="isFormSubmitInitiated && interCommForms.description.errors" style="color:red;">Please enter Description.</div>
                </div>
			</div>	
			<div class="row">
				<div class="col-lg-3 mt-2">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-danger" *ngIf=" ! isEdit" (click)="resetForm()"  type="reset">Clear</button>     
            </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="page-body-container">
  <div class="row">
      <div class="col-lg-12">
           <div class="table100">
		   <table [mfData]="communicationList" #mf="mfDataTable" [mfRowsOnPage]="50">
                <thead>
                <tr class="table100-head">
                    <th class="column1">
                        <mfDefaultSorter by="empCode">Emp.Code</mfDefaultSorter>
                    </th>    
                    <th class="column2">
						<mfDefaultSorter by="employeeName">Employee Name</mfDefaultSorter>
                    </th>    
                    <th class="column3">
						<mfDefaultSorter by="departmentName">Department Name</mfDefaultSorter>
                    </th>    
                    <th class="column4">
						<mfDefaultSorter by="workName">Work Name</mfDefaultSorter>
                    </th>    
                    <th class="column5">
						<mfDefaultSorter by="annexureFormat">Annexure Format</mfDefaultSorter>
                    </th>    
                    <th class="column6">
						<mfDefaultSorter by="description">Description</mfDefaultSorter>
                    </th>    
                    <th class="column7">
						<mfDefaultSorter by="createdOn">Created On</mfDefaultSorter>
                    </th>    
                    <th class="column8">
						<mfDefaultSorter by="updatedOn">Updated On</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody *ngFor="let item of mf.data">
                    <tr class="hover-action-row">
                    <td class="column1">{{item.empCode}}</td>
                    <td class="column1">{{item.employeeName}}</td>
                    <td class="column1">{{item.departmentName}}</td>
                    <td class="column1">{{item.workName}}</td>
                    <td class="column1">{{item.annexureFormat}}</td>
                    <td class="column1">{{item.description}}</td>
                    <td class="column1">{{item.createdOn  | date :  "dd-MM-yyyy"}}</td>
                    <td class="column1">{{item.updatedOn  | date :  "dd-MM-yyyy"}}</td>
                      <!--  <td class="actions">
                        <div class="link-holder">
						<span *ngIf="prv_departmentDelete == 'true'">
						 <a class="link" title="Delete" (click)="deleteDepartmentDetails(item);" ><i class="fas fa-trash"></i></a>
						</span>
						<span *ngIf="prv_departmentEdit == 'true'">
						 <a class="link" title="Edit" (click)="editDepartmentDetails(item);"><i class="fas fa-edit"></i></a>
						</span>
                        </div>
					    </td> -->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[12]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
		</div>
      </div>
  </div>
</div>
