<!-- <div class="page-header">
    <h3><span>Dashboard</span></h3>
</div> -->
<section class="dashboard">
  <div class="row">
      <div class="col-sm-12">
        <div class="row">
            <!-- <div class="col-sm-2 p-2">
                <div class="panel mini-box bg-info">
                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                        <span class="fas fa-user-tie"></span>
                    </span>
                    <div class="box-info float-right">
                        <p class="size-h2 float-right">40<span class="size-h4"></span></p>
                        <p><span class="float-right">Employees</span></p>
                    </div>
                </div>
            </div> -->
          <div class="col-sm-2 p-2" *ngIf="dashboardData?.noOfDepartments > 0">
            <a class="link" [routerLink]="['/department/']">
              <div class="panel mini-box bg-info">
                  <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                      <span class="fas fa-university"></span>
                  </span>
                  <div class="box-info float-right">
                      <p class="size-h2 float-right">{{dashboardData?.noOfDepartments}}<span class="size-h4"></span></p>
                      <p><span class="float-right">Departments</span></p>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 p-2">
            <a class="link" [routerLink]="['/employees/']">
              <div class="panel mini-box bg-success">
                  <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                      <span class="fas fa-users"></span>
                  </span>
                  <div class="box-info float-right">
                      <p class="size-h2 float-right">{{dashboardData?.noOfEmpoyees}} <span class="size-h4"></span></p>
                      <p><span class="float-right">Employees</span></p>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-sm-8 p-2" *ngIf="dashboardData?.empCountBasedOnDept != null">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="panel mini-box tile1" style="height:130px;">
                        <div class="box-info">
                            <div class="row">
                                <div class="col-sm-2 pt-2">
                                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                                        <span class="fas fa-users"></span>
                                    </span>
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-3 pb-2"
                                            *ngFor="let item of dashboardData?.empCountBasedOnDept | dictToKeyVal">
                                            <table class="emp-dept-count" width="100%">
                                                <tr>
                                                    <td class="pr-2">{{item.key | uppercase}}</td>
                                                    <td style="border-left:1px dashed #fff;"></td>
                                                    <td class="pl-2 pr-2">{{item.value}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 p-2">
            <a class="link" [routerLink]="['/project/']" [queryParams]="{ 'cs': 4}">
                <div class="panel mini-box tile1">
                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                        <span class="fas fa-folder-open"></span>
                        <!-- <span class="fas fa-user-tie"></span> -->
                    </span>
                    <div class="box-info float-right">
                        <p class="size-h2 float-right">{{dashboardData?.projectDetails.totalProjects}}<span class="size-h4"></span></p>
                        <p><span class="float-right">Projects</span></p>
                    </div>
                </div>
            </a>
            </div>
          <div class="col-sm-4 p-2">
            <a class="link" [routerLink]="['/project/']" >
              <div class="panel mini-box bg-info">
                  <span class="btn-icon btn-icon-round btn-icon-lg-alt ">
                      <span class="far fa-folder-open"></span>
                  </span>
                  <div class="box-info float-right">
                      <p class="size-h2 float-right">{{dashboardData?.projectDetails.pjtNotStarted}}<span class="size-h4"></span></p>
                      <p><span class="float-right">Not Started</span></p>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 p-2">
            <a class="link" [routerLink]="['/project/']" >
              <div class="panel mini-box bg-warning">
                  <span class="btn-icon btn-icon-round btn-icon-lg-alt ">
                      <span class="fas fa-tasks"></span>
                  </span>
                  <div class="box-info float-right">
                      <p class="size-h2 float-right">{{dashboardData?.projectDetails.pjtStarted}}<span class="size-h4"></span></p>
                      <p><span class="float-right">On Going Projects</span></p>
                  </div>
              </div>
            </a>
          </div>
          <!-- <div class="col-sm-4 p-2">
            <a class="link" [routerLink]="['/project/']">
              <div class="panel mini-box bg-success">
                  <span class="btn-icon btn-icon-round btn-icon-lg-alt ">
                      <span class="fas fa-file-alt"></span>
                  </span>
                  <div class="box-info float-right">
                      <p class="size-h2 float-right">{{dashboardData?.projectDetails.totalPjtDoc}}<span class="size-h4"></span></p>
                      <p><span class="float-right">Total Project Documents</span></p>
                  </div>
              </div>
            </a>
          </div> -->
          <div class="col-sm-8 p-2" *ngIf="dashboardData?.docAgaistDept != null">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="panel mini-box tile1" style="height:130px;">
                          <div class="box-info">
                              <div class="row">
                                  <div class="col-sm-2 pt-2">
                                      <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                                          <span class="far fa-file"></span>
                                      </span>
                                  </div>
                                  <div class="col-sm-10">
                                      <div class="row">
                                          <div class="col-sm-3 pb-2"
                                              *ngFor="let item of dashboardData?.docAgaistDept | dictToKeyVal">
                                              <table class="emp-dept-count" width="100%">
                                                  <tr>
                                                      <td class="pr-2">{{item.key | uppercase}}</td>
                                                      <td style="border-left:1px dashed #fff;"></td>
                                                      <td class="pl-2 pr-2">{{item.value}}</td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-3 p-2">
        <div class="panel holiday-box">
          <div class="row">
            <div class="col-sm-4 p-2 text-center">
                <span class="size-h2">25</span><br/>
                <span>Dec</span><br/>
                <span>Wed, 2019</span>
            </div>
            <div class="col-sm-1">
              <div class="holiday-line-separator"></div>
            </div>
            <div class="col-sm-6 p-2 text-center"><br/>
                <span class="size-h2">Christmas</span>
            </div>
          </div>
        </div>
    </div> -->
  </div>
  <!-- End Of first row -->
</section>
