<div class="page-header-container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>CALL MANAGEMENT VIEW</span>                
                </h4>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 search-container">
            <form novalidate [formGroup]="callMngtSearchForm" (ngSubmit)="onCallManagementSearched();">
                <div class="row">                
                    <div class="col-lg-2">
                        <div class="search-label-container"><label>Call Status</label></div>
                        <select class="form-control" formControlName="callManagementStatus">   
                            <option value="">Select</option>
                            <option value="1">On Going</option>
                            <option value="2">Completed</option>
                            <option value="3">Non Allotted</option>
                            <option value="4">Pending</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <div class="search-label-container"><label>From</label></div>
                        <input formControlName="dateFrom" class="form-control"  type="date"/>  
                    </div>
                    <div class="col-lg-2">
                        <div class="search-label-container"><label>To</label></div>
                        <input formControlName="dateTo" class="form-control" type="date" />  
                    </div>
                    <div class="col-lg-3">
                        <div class="search-label-container"><label>Search</label></div>
                        <input formControlName="searchKeyWord" class="form-control" />  
                    </div>
                    <div class="col-lg-3 pt-4">                    
                        <span class="float-right">
                            <button class="btn btn-info" type="submit">Search</button>  
                            <button class="btn btn-danger" type="reset">Reset</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="pt-2">
  <div class="row">
      <div class="col-lg-12">
          <!-- 
                cdAllotDate: "2018-08-30"
                cdAllotNo: "AS 1000"
                cdBoardDivision: "Asansol/Eastern Railway"
                cdContactNo: "9633223863"
                cdCustomerName: "ganesh"
                cdEmail: "ganeshsankar86@gmail.com"
                cdGuranteePeriod: "yes"
                cdId: 1
                cdProblemDetails: "display problem"
                cdRelayPanelDetails: "azm114+"
                cdStatus: "processed"
                createdAt: 1534239013000
                isActive: 0
                serviceRequestId: "AS/2018/100"
                siteDetails: "waria ssp"
                updatedAt: 1534564538000
                workPhNo: "9446001704"
           -->
           <table class="table" [mfData]="callManagementList" #mf="mfDataTable" [mfRowsOnPage]="50">
                <thead>
                <tr>
                    <th class="text-center">
                        <mfDefaultSorter by="serialNo">Serial #</mfDefaultSorter>
                    </th>
                    <th class="text-center">
                        <mfDefaultSorter by="createdAt">Register Date</mfDefaultSorter>
                    </th>
                    <th class="text-center">
                        <mfDefaultSorter by="cdCustomerName">Customer Name</mfDefaultSorter>
                    </th>
                    <th class="text-center">
                        <mfDefaultSorter by="cdContactNo">Customer Contact</mfDefaultSorter>
                    </th>                     
                    <th class="text-center">
                        <mfDefaultSorter by="siteDetails">Site Details</mfDefaultSorter>
                    </th>                                          
                    <th class="text-center" style="width:445px;">
                        <mfDefaultSorter by="cdRelayPanelDetails">Product Name</mfDefaultSorter>
                    </th>
                    <th  class="text-center">
                        <mfDefaultSorter by="serviceRequestId">Service Request Id</mfDefaultSorter>
                    </th>
                    <th class="text-center">
                        <mfDefaultSorter by="cdGuranteePeriod">Gurantee Period</mfDefaultSorter>
                    </th>   
                    <th class="text-center">
                        <mfDefaultSorter by="cdStatus">Status</mfDefaultSorter>
                    </th>                   
                    <th class="text-center">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.serialNo }}</td>
                    <td>{{item.createdAt | date :  "yyyy-dd-MM"}}</td>
                    <td>{{item.cdCustomerName | uppercase}}</td>
                    <td>{{item.cdContactNo | uppercase}}</td>
                    <td>{{item.siteDetails | uppercase}}</td>
                    <td>{{item.cdRelayPanelDetails | uppercase}}</td>
                    <td>{{item.serviceRequestId | uppercase}}</td>
                    <td>{{item.cdGuranteePeriod | uppercase}}</td>
                    <td>{{item.cdStatus | uppercase}}</td>
                    <!-- <td>{{item.updatedAt | date :  "dd MMM yyyy" }}</td> -->
                    <td>
                        <!-- <button class="btn btn-sm approve" (click)="editDepartmentDetails(item);"><i class="fas fa-check"></i> Edit </button> -->
                    </td>
                </tr>
                <tr *ngIf="!callManagementList">
                    <td colspan="10">
                        <div class="text-center">Loading...</div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10">
                        <mfBootstrapPaginator [rowsOnPageSet]="[25,50]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>          
      </div>
  </div>
</div>
